.showcase{
    background: url(../Images/carsheader.jpg);
    background-size: cover;
    background-position: center;

}

.main-boxes{
    margin-bottom: 1em;
}
.box > h2{
    margin-bottom:2em;
}
.hitboxlist{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.918);
}

.hitboxlist:hover{
  color: var(--dark);
  text-decoration: solid underline red;
}



 