

.showcase {
    background: url(../Images/Mylobbypic.png);
    background-size: cover;
    background-position: bottom;
    align-items: flex-end;
    justify-content: flex-start; 
}


.showcase p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    color: var(--primary);
}







