

span {
    color: red;
    font-size: x-large;
}

.main-nav a:after,
.top-box a:after {  
    background: red;  
}

.showcase { 
    background: url(../Images/ratingsheader.jpg);
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    justify-content: flex-end;
}

.showcase p {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
    color: var(--primary);
}




