

span {
    color: red;
    font-size: x-large;
}

.main-nav a:after,
.top-box a:after {  
    background: red;  
}

.showcase { 
    background: url(../Images/ratingsheader.jpg);
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    justify-content: flex-end;
}

.showcase p {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
    color:rgba(252, 33, 33, 0.788);
}
.ignscore{
    border-radius: 10px;
}
.Gamespotreview{
    border-radius: 10px;
    margin-top: 1em;
    height: 14.5em;
    width: 35em;
}
.theguardianreview{
    margin-top: 1.8em;
    border-radius: 10px;
    height: 14.44em;
    width: 35em;
}


